.form-section {
 align-self: center;   
}

.ticket-view > div > div.transport, .ticket-view > button.btn-success {
    justify-content: center;   
}
.ticket-view > div > ul.prod-list {
    list-style: decimal-leading-zero;
}
.ticket-view > div > ul.prod-list > li {
    margin-left: 1rem;
}
.ticket-view > div > ul.prod-list > li::marker {
    color: slategray;
}
  
.ticket-view > div > ul:first-child,.ticket-view > div > ul:last-child {
    display: flex;
    justify-content: center;
    list-style: none;
}
.ticket-view > div > ul:first-child > li::before, .ticket-view > div > ul:last-child > li::before{
    content: '';
    width: 0px;
    height: 0px;
    margin: 0px auto 0px auto;
    display: flex;
}
.ticket-view > div > ul:first-child > li::before{
    border-top: 16px solid #f5f5f5;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 0px solid transparent;
}

.ticket-view > div > ul:last-child > li::before{
    border-top: 0px solid transparent;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 12px solid #f5f5f5;
}
.toggle-table > div.product-card{
    position: fixed;
    overflow-y: auto;
    width: 100%;
    left: -100%;
    top: 9rem;
    bottom: 0;
    opacity: 1;
    z-index: 1;
}
.toggle-table.open > div.product-card{
    transition: 1s ease left;
    left: 0%;
}
.toggle-table:not(.open) > div.product-card{
    transition: .8s ease left, .8s ease opacity;
    opacity: 0;
}
/* Estilos para pantallas grandes y superiores */
@media (min-width: 768px) {
    .ticket-view > div > ul:first-child > li::before{
        border-top: 16px solid #f5f5f5;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 0px solid transparent;
    }
    .ticket-view > div > ul:last-child > li::before{
        border-top: 0px solid transparent;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 12px solid #f5f5f5;
    }
    .toggle-table > div.product-card{
        width: 50vw;
        top: 6rem;
    }
    .toggle-table.open > div.product-card {
        left: 10%;
    }
}