.product-card{
    width: 80vw;
}

.product-card a.nav-link.dropdown-toggle::after{
    margin-left: 1rem;
}
.family-frutas-y-verduras > td{
    overflow: hidden;
}
.family-frutas-y-verduras > td > div {
    position: relative;
    left: 0%;
    transform: scale(.6);
    opacity: .2;
    bottom: -25px;
}
.family-frutas-y-verduras > td > div > svg{
    position: absolute;
}

.row-item-added > th::before{
    content: 'Listo';
    font-weight: 500;
    position: absolute;
    margin-left: -22px;
    margin-top: 30px;
    background-color: darkgreen;
    font-size: small;
    padding: 0 .5rem;
    color: white;
    text-shadow: 0px 0px 5px black;
}
.row-item-added > th::after{
    content: '';
    position: absolute;
    margin-left: -28px;
    margin-top: 50px;
    width: 0;
    height: 0;
    border-right: 0rem solid transparent;
    border-top: .5rem solid #0e420e;
    border-left: .5rem solid transparent;
    border-bottom: 0rem solid transparent;
}
