.product-card{
    width: 80vw;
}
.product-card a.nav-link.dropdown-toggle::after{
    margin-left: 1rem;
}
.family-frutas-y-verduras > td.row-item-id{
    overflow: hidden;
}
.family-frutas-y-verduras > td.row-item-id > div {
    position: relative;
    transform: scale(.6);
    opacity: .2;
    bottom: -20px;
    width: min-content;
}
.family-frutas-y-verduras > td.row-item-id > div > svg{
    position: absolute;
}

.row-item-added > th::after{
    content: 'Añadido';
    font-weight: 500;
    position: relative;
    bottom: -13px;
    background-color: darkgreen;
    font-size: small;
    padding: 0 .5rem;
    color: white;
    text-shadow: 0px 0px 5px black;
    border-radius: 4px 4px 0 0;
}
.family-frutas-y-verduras > td.row-item-count {
    overflow: hidden;
}
.family-frutas-y-verduras > td.row-item-count > div{
    width: max-content;
}
.family-frutas-y-verduras > td.row-item-count > div > input{
    width: 5rem;
    text-align: center;
}
.family-frutas-y-verduras > td.row-item-count > div > div > button > div{
    transform: scale(1.8);
    height: 1rem;
    line-height: 1.2rem;
}
.family-frutas-y-verduras > td.row-item-count > div:nth-child(2){
    left: 15%;
    transform: scale(1);
    bottom: -8px;
    display: flex;
    align-items: center;
}
.family-frutas-y-verduras > td.show-input > div:nth-child(2){
    position: relative;
}
.family-frutas-y-verduras > td.row-item-count > div:nth-child(2) > div{
    margin: 0px 0px 0px 50px;
}
.family-frutas-y-verduras > td.row-item-count > div:nth-child(2) > svg{
    position: absolute;
}
.family-frutas-y-verduras > td.hide-input > div:nth-child(2) > svg{
    opacity: 1;
}
.family-frutas-y-verduras > td.show-input > div:nth-child(2) > svg{
    opacity: .5;
}
.family-frutas-y-verduras > td.hide-input > div:nth-child(1) {
    display: none;
}
.family-frutas-y-verduras > td.hide-input > div:nth-child(2) {
    position: unset;
    /*margin-inline: auto;*/
}
